# Required for setup / deploy
# Should only be used if repspective cloud provider does not provide a scriptable way to create the variables.
# If so they should be added to `setup.sh` 

#(Must have `Account.Cloudflare Pages` permissions)
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=

# auth0 does not provide a way to create a tenant using CLI
# Register tenant, create "Machine to Machine" application with all permissions to "Auth0 Management API"
AUTH0_DOMAIN=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=

# Only needed if ynab integration is used
YNAB_CLIENT_ID=_
YNAB_CLIENT_SECRET=_

###############################
# Optional
###############################
SENTRY_DSN=

# Will revert to first available billing account
GOOGLE_BILLING_ACCOUNT_ID=